<meta charset="utf-8">
<meta name="description" content="Roadtrippr - simply the best">

<title>Roadtrippr</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/animate.css">
<link rel="stylesheet" href="stylesheets/style.css">
