html {
  min-height: 100%;
  position: relative;
}

body{
  height: 100%;
}

.backgrnd {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../assets/images/roadtrippr.png');
  background-size: cover;
}

label {
  color: white;
}

.alert {
  width:50%;
  margin-top: 30%;
}

* {
  border-radius: 0 !important;
}
