html {
  min-height: 100%;
  position: relative;
}

body{
  height: 100%;
}

.backgrnd {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../assets/images/roadtrippr.png');
  background-size: cover;
}

label {
  color: white;
}

.alert {
  width:50%;
  margin-top: 8%;
  border: 1px solid black;
}

#search-box{
  background-color: rgba(0, 0, 0, 0.6);
}

* {
  border-radius: 0 !important;
}

.space-4 {
    margin-top: 250px;
}

.text-contrast {
    color: #fff;
}

.h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.1;
}

#map {
  height: 500px;
  width: 500px;
}

/* code for moving car on about page */
body {
    overflow-x: hidden;
}
.car-right-image {
    position: absolute;
    margin-top: 300px;
    width: 260px;
    left: -260px;
}

.float-my-children > * {
    float:left;
    margin-right:5px;
}

.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
