<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head %>
  </head>
  <body>
    <%- include ../partials/header %>
    <%- include ../partials/nav %>
    <div class="container about-content">
      <h3 class="custom-font">About Roadtrippr</h3>
      <main>
        <article>
          <p class="about-rt">Have you ever wanted to go on a roadtrip, but been dissuaded by the sheer magnitude of the task at hand? What's the weather going to be like when I get there?  What sights and restaurants can I see along the way? If you or anyone you know has been crippled by these thoughts and more , worry not fair friends: Roadtrippr is here to help.
            <br>
            With Roadtrippr, simply enter your destination and you are on your way to your next (or first) fantastic road trip experience. What Roadtrippr will do for you:
            <ul>
              <li>So many things</li>
              <li>Even more things</li>
            </ul>
          </p>
        </article>

    </main>
  </div>

  <%# car animation%>
  <div class="car-right">
   <img class="car-right-image" src="https://freepngimages.com/wp-content/uploads/2015/10/Triumph-Herald-classic-car.png" alt="Car">
  </div>

  <%- include ../partials/scripts %>
  <script src="/javascript/about.js"></script>
</body>

</html>
