<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head %>
  </head>
  <body>
    <%- include ../partials/nav %>
    <div class="container about-content">
      <h3 class="custom-font">About Roadtrippr</h3>
      <main>
        <article>
          <p class="about-rt">Have you ever wanted to go on a roadtrip, but been dissuaded by the sheer magnitude of the task at hand? What's the weather going to be like when I get there?  What sights and restaurants can I see along the way? If you or anyone you know has been crippled by these thoughts and more , worry not fair friends: Roadtrippr is here to help.
            <br>
            With Roadtrippr, simply enter your destination and you are on your way to your next (or first) fantastic road trip experience. What Roadtrippr will do for you:
            <ul>
              <li>Show a map of the starting point, destination, and midpoint of your journey</li>
              <li>Show you a list of your saved searches - But only if you log in. </li>
              <li>Help you realize your life purpose. </li>
              <li>Remind you of how much of the world there is to explore. </li>
            </ul>
          </p>
        </article>
      </main>
    </div>

    <%# car animation%>
    <div class="car-right">
     <img class="car-right-image" src="/assets/images/woman.png" alt="Car">
    </div>

    <%- include ../partials/scripts %>
    <script src="/javascript/about.js"></script>
  </body>
</html>
