<!DOCTYPE html>
<html>

<head>
  <%- include ../partials/head %>
</head>
<body>
  <%- include ../partials/header %>
  <%- include ../partials/nav %>

  <h1>Saved Searches</h1>
   <ul id="searchlist">
   </ul>

  <%- include ../partials/scripts %>
  <script src="/javascript/savedsearches.js"></script>

 </body>

</html>
