<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head %>
  </head>
  <body>
    <%- include ../partials/header %>
    <%- include ../partials/nav %>

    <h1>Saved Searches</h1>

    <%- include ../partials/scripts %>
  </body>
</html>
