<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head %>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include ../partials/header %>
    <%- include ../partials/nav %>
    <h1> Past Searches</h1>
    <ul id="searchlist">
    </ul>

    <%- include ../partials/scripts %>

  </body>
</html>
