<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head %>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include ../partials/header %>
    <%- include ../partials/nav %>
    <table>
    <td >Starting Point</td>
    <tr id="start"></tr>
    <td id="end">Destination</td>

</table>
    <%- include ../partials/scripts %>
    <script src="/javascript/savedsearches.js"></script>
  </body>
</html>
