<!DOCTYPE html>
<html>
<head>
  <%- include ../partials/head %>
</head>
<body>
  <%- include ../partials/header %>
  <%- include ../partials/nav %>

  <h1>TEST</h1>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_yzTWnGjID6IUWj9PF9IVhIFwYtCp_fM"></script>
  <div id="map" style="height:500px;width:500px;"></div>

  <%- include ../partials/scripts %>
  <script type="text/javascript" src="javascript/googlemaps.js">

  </script>
</body>
</html>
